<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Thêm món ăn</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang quản lý</a></li>
            <li class="breadcrumb-item active">Thêm món ăn</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="post-update-category-restaurant/<%= categoryRestaurant._id %>" method="post">
              <div class="card-body">
                <div class="form-group">
                  <label>Tên loại</label>
                  <input type="text" class="form-control" name="name" value="<%= categoryRestaurant.name %>" placeholder="Nhập loại món ăn">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Chọn loại món ăn</label>
                  <select class="form-control" name="categoryId" id="exampleFormControlSelect1">
                    <option value="" selected disabled hidden>Chọn loại sản phẩm</option>
                    <% categories.forEach(function (category) { %>
                    <option value="<%= category._id %>" <%=( category._id == categoryRestaurant.categoryId ) ? "selected" : "" %>><%= category.name %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mô tả</label>
                  <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"><%= categoryRestaurant.description %></textarea>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Sửa</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

          


        </div>
        
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>