<%- include('../partials/admin/head.ejs') %>
<body class="hold-transition sidebar-mini layout-fixed">
  <%- include('../partials/admin/header.ejs') %>
  <%- include('../partials/admin/navbar.ejs') %>
  <div class="wrapper">>
    <%- body %>
  </div>
  <%- include('../partials/admin/footer.ejs') %>
  <%- include('../partials/admin/tail.ejs') %>
</body>
</html>