<%- include('../partials/admin_restaurant/head.ejs') %>
<body class="hold-transition sidebar-mini layout-fixed">
  <%- include('../partials/admin_restaurant/header.ejs') %>
  <%- include('../partials/admin_restaurant/sidebar.ejs') %>
  <div class="wrapper">>
    <%- body %>
  </div>
  <%- include('../partials/admin_restaurant/footer.ejs') %>
  <%- include('../partials/admin_restaurant/tail.ejs') %>
</body>
</html>